<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - My Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles/style.css" />
</head>
<body>

   {{~> page}}

</body>
</html>
