{{#*inline "page"}}
<form action="{{action}}" method="post">
  <div>
    <label for="title">title</label>
    <input type="text" id="title" name="title" value="{{article.title}}">
  </div>

  <div>
    <label for="text">text</label>
    <textarea id="text" name="text">{{ article.text }}</textarea>
  </div>

  <input type="submit"/>
</form>

{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
