{{#*inline "page"}}

<form action="{{action}}" method="post">
  <div class="row">
    <div class="six columns">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="Enter the city" value="{{city.name}}">

    </div>
    <div class="six columns">
      <label for="country">Country</label>
      <input name="country" id="country" type="text" placeholder="Enter the country" value="{{city.country}}">
    </div>
  </div>
  <label for="description">Description</label>
  <textarea class="u-full-width" placeholder="Give an overview of the city" id="description"
    name="description">{{ city.description }}</textarea>

  <input class="button-primary" type="submit" value="Submit"> <a class="button" href="/cities">Cancel</a>
</form>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}