{{#*inline "page"}}
<h6 class="docs-header">{{city.name}}</h6>
<p>{{city.country}}</p>
<p>{{city.description}}</p>
<p>
    <a href="/cities">Back</a>
</p>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}